# Виртуальное окружение Python
venv/
*/venv/
*/**/venv/

# Файл с секретами
.env

# Кэш Python
__pycache__/
*/**/__pycache__/
*.py[cod]

# Лог-файлы
*.log
*.log.*
bot_main.log # <-- Добавлено для явности
bot_debug.log # <-- Добавлено для явности

# Настройки IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*

# Файлы ОС
*.DS_Store
Thumbs.db

# Конфигурация
# Файл config.py больше не содержит секретов (они будут в .env),
# поэтому ТЕХНИЧЕСКИ его можно было бы и не игнорировать (чтобы отслеживать
# изменения в состояниях, например). Но раз он уже у вас игнорируется,
# оставляем так. Если захотите его отслеживать - закомментируйте строку ниже.
config.py

# Файлы зависимостей (если используются менеджеры пакетов типа poetry/pipenv)
# poetry.lock
# Pipfile.lock

# Билды и дистрибутивы
dist/
build/
*.egg-info/

# Данные (CSV и другие)
*.csv
