# requirements-dev.txt
# Инструменты для разработки и качества кода

black>=24.0 # Автоформатирование кода
ruff>=0.4 # Линтинг, проверка стиля, сортировка импортов

# Добавим pre-commit сразу, он понадобится на следующих шагах
pre-commit>=3.0

# Можно добавить и другие полезные для разработки вещи, например:
# pytest # Для запуска тестов, если/когда они будут
# ipython # Улучшенный интерактивный Python
